body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3vw;
}

body > header {
    background-color: #d2cab6;
    color:black;
    font-size: 1.2vw;
    display: flex;
    height: 25vh;
    align-items: center;
    justify-content: space-around;
    font-family: 'bebas neue', sans-serif;
}

#logo {
    font-size: 2.5vw;
    margin: 0;
    padding: 8pxs;
    font-family: 'bebas neue', sans-serif;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'bebas neue', sans-serif;
}

body > header > nav > ul > li {
    list-style: none;
    text-decoration: none;
    font-size: 1.6vw;
}


#main-header img {
    margin-bottom: 10px;
}

#main-header h1 {
    margin: 0;
    font-size: 5vw;
}

#main-header h2 {
    text-align: center;
    font-size: 1vw;
    margin: 5px 20px 0;
    font-size: 1.5vw;
}

#nav-ul {
    padding-left: 0;
}

ul {
    margin: 0;
}

.navbutton {
color: black;
text-decoration: none;
padding: 12px;

}

body > main {
    margin: auto;
}

body > main > article {
    width: 50%;
    margin: auto;
    text-align: center;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}

.main-content {
    text-align: center;
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
    justify-content: center;
}

#main-content > div {
    width: 70%;
}

#product-ul {
    display: flex;
    margin: auto;
    list-style: none;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#product-ul li> a {
    text-decoration: none;
    color: black;
}

img {
    height: 150px;
    width: auto;
    padding: 30px
  }
  
.blog-content {
    background-color: #3d605b28;
}
.blog-content h2 {
    text-align: start;
    font-size: 2.5vw;
    margin: 12px;
    padding: 8px;
}

.blog-content li> a {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

body > footer {
    background-color: #d2cab6;
    padding: 16px;
    color: black;
    text-align: center;
}

#footer-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    column-gap: 75px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: black;
    line-height: 1.7;
    font-size: 15px;

}

#column {
    flex: 1;
    padding: 20px;
}

form {
    text-align: start;
    margin: 50px;
    align-items: center;
    background-color: #3d605b28;
}

.form-group {
    display: flex;
    align-items: center;
    text-align: center;
}

.form-group h2 {
    margin: 30px;
    padding: 20px;
    text-align: center;
    display: flex;
}

aside li > a {
    display: flex;
    text-decoration: none;
    color: black;
}


.about-us {
    display: flex;
    align-items:center;
    justify-content: space-around;
    text-align: left;
    margin: 12px;
    padding: 8px;
}

.about-us li > a {
    text-decoration: none;
    color: black;
 
}

#about-ul {
    list-style: none;
    margin: 12px;
    padding: 8px;   
    display: flex;
    justify-content: space-between;
}

.contact {
    align-items: center;
    text-align: center;
}

#contact-ul {
    color: black;
    list-style: none;
    margin: 12px;
    padding: 8px;   
    display: flex;
    justify-content: space-evenly;
}

.contact li > a {
    text-decoration: none;
    color: black;
}




#cart-ul li > a{
    list-style: none; 
    color: black;
    text-decoration: none;
    padding: 12px;
    margin: 0px;
    display: flex;   
}